/* the root of the example page */
:root {
	--line-height: 1.5;
	--font-size: 18px;
	--c-bg-qrs: black;
	--c-bg-scanner: black;
	--size: 0.5rem;
}

@media (prefers-color-scheme: light) {
	:root,
	:host {
		color-scheme: light;
		--c-fg: black;
		--c-bg: whitesmoke;
		--c-border: slategray;
	}
}
@media (prefers-color-scheme: dark) {
	:root,
	:host {
		color-scheme: dark;
		--c-fg: white;
		--c-bg: black;
		--c-border: lightgray;
	}
}

/* layout */
html {
	line-height: var(--line-height);
	font-size: var(--font-size);
	background-color: unset;
}

/* our rtc-user */
rtc-user {
	/* re-using a public var from the component; */
	margin: var(--size);
}

/* using the `parts=` attribute, to target the shadow DOM children elements
	 - currently not forwarding any part
	 - Docs: https://github.com/fergald/docs/blob/master/explainers/css-shadow-parts-1.md
*/
rtc-user::part() {
}
