<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>rtc-peer</title>
		<meta name="description" content="rtc-peer componnent" />
		<link rel="icon" href="data:;base64,iVBORw0KGgo=" />
		<link rel="stylesheet" href="../src/styles/index.css" />

		<!-- the 3d library -->
		<script src="https://aframe.io/releases/1.6.0/aframe.min.js"></script>

		<script type="module">
			/* import { defineComponents } from "https://cdn.jsdelivr.net/npm/@sctlib/rtc"; */
			import rtc, { defineComponents } from "../../src/index.js";

			defineComponents();
		</script>

		<style>
			#content {
				padding: 0;
				margin: 0;
				width: 100%;
				height: 100%;
			}
			details {
				position: absolute;
				top: 0;
				z-index: 2;
				color: var(--c-fg);
				background-color: var(--c-bg, black);
				border: 1px solid var(--c-fg);
				border-radius: 0.5rem;
				margin: 0.1rem;
				padding: 0.3rem;
				max-height: 100dvh;
				overflow-y: auto;
			}
			summary {
				cursor: pointer;
			}

			output[slot="logs"] {
				display: flex;
				flex-direction: column;
				max-height: 40dvh;
				overflow-y: auto;
			}
		</style>
	</head>
	<body>

		<details open="true">
			<summary>WebRTC (using <a href="https://aframe.io/" target="_blank">a-frame</a>)</summary>
			<rtc-user user-name="{{replaced_on_init}}" search-params='["matrix-peers", "signaling-methods"]'>
				<output slot="logs"></output>
				<form slot="send">
					<input type="hidden" name="type" value="message"/>
					<fieldset>
						<legend>Message</legend>
						<textarea name="message"></textarea>
					</fieldset>
					<fieldset>
						<button type="submit" title="Send message to pear">Send</button>
					</fieldset>
				</form>
			</rtc-user>
		</details>

		<a-scene>
			<a-box position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9"></a-box>
			<a-sphere position="0 1.25 -5" radius="1.25" color="#EF2D5E"></a-sphere>
			<a-cylinder position="1 0.75 -3" radius="0.5" height="1.5" color="#FFC65D"></a-cylinder>
			<a-plane position="0 0 -4" rotation="-90 0 0" width="4" height="4" color="#7BC8A4"></a-plane>
			<a-sky color="#ECECEC"></a-sky>

			<!-- Player Containers -->
			<a-entity id="players"></a-entity>

			<!-- Camera and Light -->
			<a-camera id="main-camera" position="0 1.6 0" position-reader>
				<a-light type="point" intensity="0.8" position="0 4 0"></a-light>
			</a-camera>
		</a-scene>

		<script>
			// Register the rotation-reader component
			AFRAME.registerComponent('position-reader', {
				tick: function () {
					const position = this.el.object3D.position;
					const rotation = this.el.object3D.rotation;

					// Prepare data to send
					const cameraData = {
						type: "position",
						name: $rtcUser.getAttribute("user-name"),
						position: { x: position.x, y: position.y, z: position.z },
						rotation: { x: rotation.x, y: rotation.y },
						color: $rtcUser.getAttribute("data-user-color")
					};

					// Update the local scene
					updatePlayerPositions(cameraData);

					// Send position data via RTC
					if ($rtcUser?.dataChannel) {
						$rtcUser.send(JSON.stringify(cameraData));
					}
				}
			});

			// Get references to the A-Frame scene and RTC user
			const $scene = document.querySelector("a-scene");
			const $rtcUser = document.querySelector("rtc-user");
			const $players = document.getElementById("players");
			const $userLog = $rtcUser.querySelector('[slot="logs"]');
			const $userSend = $rtcUser.querySelector('[slot="send"]');

			// Function to update player positions
			function updatePlayerPositions(data) {
				const { name, position, rotation, color } = data;

				// Find existing player box or create a new one
				let player = $players.querySelector(`#${name}`);
				if (!player) {
					player = document.createElement("a-box");
					player.setAttribute("id", name);
					$players.appendChild(player);

					const label = document.createElement("a-text");

					label.setAttribute("id", `${name}-label`);
					label.setAttribute("align", "center");
					label.setAttribute("side", "double");
					$players.appendChild(label);
				}

				// Update position and color of the player
				player.setAttribute("color", color || "black");
				player.setAttribute("position", `${position.x} ${position.y} ${position.z}`);
				player.setAttribute("rotation", `${rotation.x} ${rotation.y}`);
				// so it faces the player opposition direction (looking at player)

				// Update label position and text
				const label = $players.querySelector(`#${name}-label`);
				label.setAttribute("value", name);
				label.setAttribute("color", color);
				label.setAttribute("position", `${position.x} ${position.y + 1} ${position.z}`);
				label.setAttribute("rotation", `${rotation.x} ${rotation.y}`);
			}

			function logEvent(event) {
				const $log = document.createElement("code");
				$log.innerText = JSON.stringify(event.detail, null, 2);
				$userLog.prepend($log);
			}

			function logMessage(data) {
				const {message,name} = data
				const $log = document.createElement("article");
				const $userName = document.createElement("strong");
				$userName.innerText = name

				const $message = document.createElement("q");
				$message.innerText = message

				$log.append($userName, $message)
				$userLog.prepend($log);
			}

			// Handle incoming RTC messages
			$rtcUser.addEventListener("channelMessage", (event) => {
				try {
					const data = JSON.parse(event.detail);
					switch (data.type) {
						case "message":
							logMessage(data);
							break;
						case "position":
							updatePlayerPositions(data);
							break;
						default:
							console.log("channelMessage", data)
					}
				} catch (err) {
					console.error("Invalid JSON data received: ", event.detail);
				}
			});

			// Log RTC events
			$rtcUser.addEventListener("dataChannel", (event) => {
				if ($userLog) {
					logEvent(event)
				}
			});

			// Handle form submissions to send data
			if ($userSend) {
				$userSend.addEventListener("submit", (event) => {
					event.preventDefault();
					const formData = new FormData(event.target);
					const formDataObject = {
						name: $rtcUser.getAttribute("user-name"),
						...Object.fromEntries(formData)
					};
					$rtcUser.send(JSON.stringify(formDataObject));
					logMessage({...formDataObject, })
					event.target.reset()
				});
			}

			const init = (hashParams = {}) => {
				const {
					['name']: userName = btoa(self.crypto.randomUUID()).slice(0, 20),
				} = hashParams
				$rtcUser.setAttribute("user-name", userName)
				$rtcUser.setAttribute("data-user-color", `#${Math.random().toString(16).substr(-6)}`)
			}
			init(Object.fromEntries(new URLSearchParams(window.location.hash.slice(1))))

		</script>
	</body>
</html>
